<ul class="nav navbar-nav navbar-right">
    <li>
        <select class="selectpicker">
            <optgroup label="@LocalizedResources.patque_dialog_supportedLanguagesCaption">
                <option value="en">english</option>
                <option value="sr">srpski</option>
                <option value="de">deutsch (DE)</option>
                <option value="at">deutsch (AT)</option>
                <option value="es">español</option>
                <option value="nl">nederlands</option>
                <option value="gr">ελληνικά</option>
                <option value="pt">português</option>
                <option value="pl">polski</option>
                <option value="hu">magyar</option>
                <option value="tr">türkçe</option>
                <option value="it">italiano</option>
            </optgroup>
        </select>
    </li>
</ul>
