@{
    ViewBag.Title = "Editor";
}

@*<link href="http://getbootstrap.com/dist/css/bootstrap.css" type="text/css" rel="stylesheet" />*@
@Styles.Render("~/Content/surveyEditor/css")

<div id="surveyEditorContainer"></div>

@section Scripts {
    @Scripts.Render("~/bundles/surveyEditor")
    @Scripts.Render("~/Scripts/surveyjsEditorInit.js")
    <script>
        //set function on save callback
        survey.saveSurveyFunc = function () {
            $.ajax(
                '@Url.Action("SaveSurvey", "SurveyEditor", new { area="" })',
                {
                    method: "POST",
                    async: true,
                    data: { surveyJson: survey.text },
                    success: function (data, textStatus, jqXHR) {
                        survey.surveyValue.internalId = data;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('ERROR - ' + errorThrown);
                    }
                });
        };
    </script>
}