@{
    ViewBag.Title = "Editor";
}

@*<link href="http://getbootstrap.com/dist/css/bootstrap.css" type="text/css" rel="stylesheet" />*@
@Styles.Render("~/Content/surveyEditor/css")

<div id="surveyEditorContainer"></div>

@section Scripts {
    @Scripts.Render("~/Scripts/dxSurvey/dxBroker.js")
    @Scripts.Render("~/bundles/surveyEditor")

    <script>
        var editorOptions = { showEmbededSurveyTab: true };
        var survey = new SurveyEditor.SurveyEditor("surveyEditorContainer", editorOptions);

        //set function on save callback
        survey.saveSurveyFunc = function () {
            if (!survey.surveyValue.title) {
                survey.surveyValue.title = 'pqSurvey-' + new Date().getTime().toString();
            }

            $.ajax(
                '@Url.Action("SaveSurvey", "SurveyEditor", new { area="" })',
                {
                    method: "POST",
                    async: true,
                    data: { surveyJson: survey.text },
                    success: function (data, textStatus, jqXHR) {
                        survey.surveyValue.surveyId = data;},
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert('ERROR - ' + errorThrown);
                    }
                });
        }
    </script>
}