@model IEnumerable<Questionnaire.Data.Survey>

@{
    ViewBag.Title = "Admin";
}

<ul class="list-group col-md-3">
    @foreach (var item in Model)
    {
        <li class="list-group-item">item.Title</li>
    }
</ul>

@*<link href="http://getbootstrap.com/dist/css/bootstrap.css" type="text/css" rel="stylesheet" />*@
@*@Styles.Render("~/Content/bootstrap/css")*@

<script type="text/javascript">
    $(function () {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetAllSurveys")',
            dataType: 'json',
            success: function (data) {
                var html = '';
                $.each(data, function (index, item) {
                    var $tr = $('<tr>').append(
                         $('<td>').text(item.Id),
                         $('<td>').text(item.Title),
                         $('<td>').text(item.IsActive))
                });
            },
            error: function (Result) {
                alert("Error");
            },
            failure: function (Result) {
                alert(response.responseText);
            }
        });
    });
</script>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Survey name</th>
            <th>Options</th>
            <th>Number of Questions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>
<ul class="list-group col-md-3">
    <li class="list-group-item">
        <table>
            <tr>
                <td>First Item</td>
                <td>
                    <a href="one"> <i class="glyphicon glyphicon-play"></i></a>
                    <a href="two"> <i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="three"> <i class="glyphicon glyphicon-trash"></i></a>
                </td>
                <td>
                    <span class="badge">14</span>
                </td>
            </tr>
        </table>
    </li>
    <li class="list-group-item">
        <table>
            <tr>
                <td>Second Item</td>
                <td></td>
                <td>
                    <a href="one"> <i class="glyphicon glyphicon-play"></i></a>
                    <a href="two"> <i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="three"> <i class="glyphicon glyphicon-trash"></i></a>
                </td>
                <td>
                    <span class="badge">14</span>
                </td>
            </tr>
        </table>
    </li>
</ul>
