@{
    ViewBag.Title = "Admin";
}
@*<link href="http://getbootstrap.com/dist/css/bootstrap.css" type="text/css" rel="stylesheet" />*@
@*@Styles.Render("~/Content/bootstrap/css")*@

        @*<a href="#" class="list-group-item">First item <i class="glyphicon glyphicon-play"></i><i class="glyphicon glyphicon-pencil"></i><i class="glyphicon glyphicon-trash"></i></a>
    <a href="#" class="list-group-item">Second item<i class="glyphicon glyphicon-play"></i><i class="glyphicon glyphicon-pencil"></i><i class="glyphicon glyphicon-trash"></i></a>
    <a href="#" class="list-group-item">Third item <i class="glyphicon glyphicon-play"></i><i class="glyphicon glyphicon-pencil"></i><i class="glyphicon glyphicon-trash"></i></a>
<div class="list-group">
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">List group item 1 heading</h4>
        <p class="list-group-item-text">...</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">List group item 2 heading</h4>
        <p class="list-group-item-text">...</p>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">List group item 3 heading</h4>
        <p class="list-group-item-text">...</p>
    </a>
</div>*@
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Survey name</th>
            <th>Options</th>
            <th>Number of Questions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>twitter</td>
        </tr>
    </tbody>
</table>
<ul class="list-group">
        <li class="list-group-item">
            <table>
                <tr>
                    <td>First Item</td>
                    <td>
                        <a href="one"> <i class="glyphicon glyphicon-play"></i></a>
                        <a href="two"> <i class="glyphicon glyphicon-pencil"></i></a>
                        <a href="three"> <i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                    <td>
                        <span class="badge">14</span>
                    </td>
                </tr>
            </table>
        </li>
    <li class="list-group-item">
        <table>
            <tr>
                <td col-xs-4 col-lg-4">Second Item</td>
                <td col-xs-4 col-lg-4">
                </td>
                <td col-xs-4 col-lg-4">
                    <a href="one"> <i class="glyphicon glyphicon-play"></i></a>
                    <a href="two"> <i class="glyphicon glyphicon-pencil"></i></a>
                    <a href="three"> <i class="glyphicon glyphicon-trash"></i></a>
                </td>
                <td>
                    <span class="badge">14</span>
                </td>
            </tr>
        </table>
    </li>
</ul>