@{
    ViewBag.Title = "Survey";
}

@*<link href="http://getbootstrap.com/dist/css/bootstrap.css" type="text/css" rel="stylesheet" />*@
@Styles.Render("~/Content/survey/css")

<div id="noSurveyAlert" style="display: none">
    <hr />
    <div class="alert alert-warning" role="alert">There are no active surveys...</div>
</div>
<div id="surveyElement"></div>

@section Scripts {
    @Scripts.Render("~/Scripts/dxSurvey/dxBroker.js")
    @Scripts.Render("~/bundles/survey")

    <script>
        var survey = new Survey.Model();

        $.ajax(
            '@Url.Action("GetActiveSurvey", "Survey", new { area="" })',
            {
                method: "GET",
                async: true,
                dataType: 'json',
                success: function (data, textStatus, jqXHR) {
                    $('#noSurveyAlert').css("display", "normal");

                    survey.setJsonObject(data);
                    $("#surveyElement").Survey({ model: survey });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $('#noSurveyAlert').css("display", "block");
                }
            });

        Survey.defaultBootstrapCss.navigationButton = "btn btn-primary";
        Survey.Survey.cssType = "bootstrap";

    </script>
}
