@{
    ViewBag.Title = "Welcome to Pat.Que";
}

<div class="jumbotron">
    <h1>Pat.Que</h1>
    <p class="lead">Pat.Que is the app for designing, managing, exposing, and processing patient polls in  form of questionnaires. It's ment to be robust yet equipped with advanced features, simple to use, and secure.</p>
    <p>@Html.ActionLink("Demo Survey", "Index", "Survey", routeValues: new { area = "" }, htmlAttributes: new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Pat.Que gives you a powerful, patterns-based way to build dynamic questioannries that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile poll.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more info</h2>
        <p>PatQue is a free extension that makes it easy to add, remove, and update polls in quesues.</p>
        <p><a class="btn btn-default" href="http://www.patque.net/start">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://www.patque.net/hosting">Learn more &raquo;</a></p>
    </div>
</div>