@{
    ViewBag.Title = "Welcome";
}

<div class="jumbotron">
    <h1>PatQue</h1>
    <p class="lead">Is the Survey designing, managing, exposing and processing portal for Patient Questionnaires. It's meant to be robust yet equipped with advanced features, 
    simple to use and secure. We are using survey framework to create, handle and manipulate Surveys, SSL certificates to protect our visitors and full trust mode to allow 
    Microsoft technology tackle our model. Survey editor is easy to work with yet very agile and powerful loaded with advanced options. When it comes to Surveys we can do 
    pretty much anything. Our powerful localization framework will allow you to process surveys on multiple languages at the same time combining the results.</p>
    <p>@Html.ActionLink("Try our Demo Survey", "Index", "SurveyEditor", routeValues: new { area = "" }, htmlAttributes: new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Create and publish your surveys in minutes. Drop us an email we'll get back to you.
        </p>
        <p><a class="btn btn-default" href="mailto:interestedin@patque.net?Subject=Getting%20Started">Email us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more features</h2>
        <p>We are packing and cracking even more advanced features as we speak. Tell what you need and we will get on it right away!</p>
        <p><a class="btn btn-default" href="mailto:newfeatures@patque.net?Subject=Get%20New%20Features">Email us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Legislative Problems</h2>
        <p>Not any more. We can run the survey and store the data for you anywhere in the world, downsizing legislative problems to minimum. </p>
        <p><a class="btn btn-default" href="mailto:legislativesolution@patque.net?Subject=Legislative%20Problems">Email us &raquo;</a></p>
    </div>
</div>