body {
/*overriding surveyeditor.css*/
/*this needs to be changed in surveyeditor.css*/

.svd_container .svd_menu > li.active > a {
color: #337ab7;
}
.svd_container .svd_menu > li.active > a:hover, .svd_container .svd_menu > li.active > a:focus {
        color: #337ab7;
}
.svd_container .svd_content .svd_survey_designer .svd_editors .svd_pages_editor .nav-tabs li.active .svd_page_nav {
          border: 1px solid #ddd;
          color: #337ab7; }
.svd_container .svd_q_selected {
  border: 1px solid #337ab7 !important; }
.svd_container .svd_content .svd_survey_designer .svd_editors .svd_questions_editor .panel-body .svd_question .svd_question_menu .dropdown-toggle .glyphicon-option-horizontal {
              color: #337ab7;
              font-size: 20px; }

/*color is #337ab7*/
}
.svd_container .svd_actions .btn-group.open .dropdown-toggle {
      background-color: #337ab7;
      border-color: #337ab7; }
    .svd_container .svd_actions .dropdown-menu > .active > a {
      background-color: #337ab7; }